@CHARSET "UTF-8";

/* Global */
* {
	/* margin: 2px; */
	/*padding: 0;*/
	/*text-align: left; */
	font-family: Arial, SimSun, Verdana, tahoma, Helvetica, sans-serif;
}

body {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-x-system-font: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 160%;
}

h1 {
	font-size: 1.5em;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.2em;
	margin-top: 0.6em;
	margin-bottom: 0.2em;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #999999;
}

th, td {
	padding: 1px 3px 1px 3px;
}

.amount {
	text-align: right;
}


.reset {
	padding: 0;
	margin: 0;
}
