@CHARSET "UTF-8";

#wrapper {
	padding-right: 1em;
}

#topmenu, #footer {
	width: 100%;
	background-color: #A1C4F2;
	margin-bottom: 10px;
	padding: 0.3em;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

.value_raise {
	color: #00FF00;
}

.value_drop {
	color: #FF0000;
}

